:root{
    --golden: rgb(246, 230, 176);
    --blue: rgb(57, 149, 229);
    --darkRed: rgb(120, 25, 41);
    --brighterRed: rgb(130, 2, 3);
    --black: black;
}

*{
    line-height: 1.5;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;   
    margin: 0;
    padding: 20px; 

    background-color: var(--black);
    color: var(--brighterRed);

}

.mainContainer{
    width: 100%;
    height: 100%;

    background-color: var(--black);
    color: var(--brighterRed);
}

h1{
    border-radius: 10px;
    background-color: var(--darkRed);
    border: 2px solid var(--golden);
    color: var(--golden);
    text-align: center;
    padding: 1%;
    border-radius: 20px;
    margin: 0;
    margin-bottom: 35px;
    font-weight: 1500;
    box-shadow: 0px 0px 4px 4px var(--blue);
}

h2{
    color: var(--golden);

    font-size: 12px;
    @media screen and (min-width: 375px)  {
        font-size: 14px;
    }
    @media screen and (min-width: 525px)  {
        font-size: 18px;
    }
}

h3{
    font-size: 8px;
    @media screen and (min-width: 380px)  {
        font-size: 10px;
    }
    @media screen and (min-width: 440px)  {
        font-size: 12px;
    }
    @media screen and (min-width: 500px)  {
        font-size: 14px;
    }
    @media screen and (min-width: 1200px)  {
        font-size: 16px;
    }
    @media screen and (min-width: 1300px)  {
        font-size: 18px;
    }
}

button{
    border-radius: 10px;
    border: 2px solid var(--golden);
    background-color: var(--darkRed);
    color: var(--golden);
    margin-top: 15px;
    margin-bottom: 20px ;
    box-shadow: 0px 0px 2px 2px var(--blue);
}

td{
    font-size: 10px;
    @media screen and (min-width: 375px)  {
        font-size: 12px;
    }
    @media screen and (min-width: 525px)  {
        font-size: 16px;
    }
}

table{
    width: 98%;
    max-width: 98%;
}

table,table td{
    background-color: var(--darkRed);
    color: var(--golden);
    border: 2px var(--golden) solid;
    border-collapse: collapse;
}

th,td{

    background-color: var(--darkRed);
    border: 1px solid var(--golden);
    width: 14%;
}

table th{
    background-color: var(--black);
    color: var(--golden);
    border: 2px var(--golden) solid;
    border-collapse: collapse;
}

a{
    color: var(--blue);
}

input,p{
    width: 100%;
    background-color: var(--darkRed);
    color: var(--golden);
    border: none;
    border-radius: 5px;
    text-align: center;
}

@media(min-width:1000px) {
    .mainContainer {
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        background: var(--black);
        color: var(--golden);
        margin: 20px auto;
        padding: 1.5% 1%;
        box-shadow: 0px 0px 4px 4px var(--golden);
        height: 100%;
    }

    body {
        font-size: 16px;
        background: linear-gradient(var(--black), var(--darkRed),var(--golden),var(--darkRed),var(--black));
        margin: 0;
        padding: 0px;
        color: var(--golden);
        max-width: none;
    }       
}